.signup-form {
    position: absolute;
    top: 20%;
    left: 15%;
}

.signup-form-email-label,
.signup-form-password-label {
    color: whitesmoke;
    font-size: 1.25em;
    font-weight: 500;
    margin-top: 5px;
}

.signup-form-email-input,
.signup-form-password-input {
    margin-bottom: 10px;
    border-color: whitesmoke;
}

.signup-form-submit-button {
    margin-top: 10px;
}
